.notfound-container {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.notfound-heading {
  font-family: Roboto;
  color: #f8fafc;
  font-weight: 500;
  font-size: 22px;
}
.notfound-text {
  font-family: roboto;
  text-align: center;
  color: #cbd5e1;
  font-size: 13px;
  margin: 0px;
  line-height: 22px;
}
.gohome-button {
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 10px;
  width: 100px;
  font-size: 13px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .notfound-heading {
    font-size: 18px;
  }
  .notfound-text {
    font-size: 11px;
  }
  .gohome-button {
    font-size: 9px;
    padding: 8px;
    width: 75px;
    border-radius: 5px;
  }
}
