.repo-main-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.failure-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-image {
  width: 70%;
}
.repo-heading {
  font-family: Roboto;
  color: #f8fafc;
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 5px;
}
.repo-unordered-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
}
.no-repsorities {
  font-weight: 400;
  color: #f8fafc;
  font-family: Roboto;
  padding-top: 10px;
  font-size: 22px;
}
.repo-empty-heading {
  font-family: Roboto;
  color: #f8fafc;
  font-size: 25px;
  font-weight: 500;
  margin: 0px;
}
.repo-empty-text {
  font-family: Roboto;
  color: #f8fafc;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.home-button {
  background-color: #ffffff;
  color: #414038;
  font-family: roboto;
  font-size: 14px;
  border: none;
  width: 100px;
  padding: 10px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .empty-image {
    width: 32%;
  }
  .repo-main-container {
    width: 70%;
  }
  .repo-heading {
    font-size: 24px;
  }
  .no-repsorities {
    font-size: 25px;
  }
  .repo-empty-heading {
    font-size: 27px;
    margin-top: 10px;
  }
  .repo-empty-text {
    font-size: 16px;
  }
  .home-button {
    font-size: 15px;
    width: 110px;
  }
}
